body {
  background-color: rgba(3, 75, 3, 0.911);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-weight: bold;
}
h1 {
  font-size: 50px;
  color: goldenrod;
}
#message-el {
  font-style: italic;
}
button {
  background-color: goldenrod;
  color: #016f32;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  border-radius: 4px;
  margin-top: 2px;
}
